.todoContainer {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  background-size: cover;
}
.cela-grupa {
  width: 60%;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.loadingGif {
  opacity: 0.5;
  border-radius: 10px;
  width: 50%;
  align-self: center;
  margin-top: 50px;
}