.todoContainer {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 0;
  background-size: cover;
}
.cela-grupa {
  width: 60%;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.loadingGif {
  opacity: 0.5;
  border-radius: 10px;
  width: 50%;
  align-self: center;
  margin-top: 50px;
}
.list-group-item {
  overflow: auto;
  max-width: 100%;
}

@media (min-width: 220px) and (max-width: 680px) {
  .cela-grupa {
    width: 90% !important;
  }
  .shareContainer {
    width : 80% !important
  }
  .list-group-item {
    max-width: 100% !important;
  }
}
