.home {
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px;
  background-color: white;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(97, 186, 255, 1) 0%,
    rgba(166, 239, 253, 1) 90.1%
  );
  background-repeat: space;
}
.home:hover {
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.toDoListImg {
  position: absolute;
  top: 50px;
  left: 0;
  margin-top: 130px;
  z-index: -1;
  display: none;
}
.torrentImg {
  position: absolute;
  left: 20px;
  top: 100px;
  display: none;
  z-index: -1;
}
.expenseImg {
  position: absolute;
  left: 20px;
  top: 150px;
  display: none;
  z-index: -1;
}
.quizImg {
  position: absolute;
  left: 0;
  top: 120px;
  display: none;
  z-index: -1;
}
.chatImg {
  position: absolute;
  right: 20px;
  top: 50px;
  display: none;

  z-index: -1;
}
.newsImg {
  position: absolute;
  right: 0;
  top: 150px;
  display: none;
  z-index: -1;
}
.cookImg {
  position: absolute;
  right: 50px;
  top: 60px;
  display: none;

  z-index: -1;
}
.logo {
  height: 40px;
  width: 40px;
}
.homeContainer {
  width: 60% !important;
}
@media (min-width: 680px) {
  .torrent:hover + .torrentImg {
    display: block;
  }
  .news:hover + .newsImg {
    display: block;
  }
  .quiz:hover + .quizImg {
    display: block;
  }
  .expense:hover + .expenseImg {
    display: block;
  }
  .cook:hover + .cookImg {
    display: block;
  }
  .chat:hover + .chatImg {
    display: block;
  }
  .toDo:hover + .toDoListImg {
    display: block;
  }
}

@media (min-width: 220px) and (max-width: 680px) {
  .homeContainer {
    width: 100% !important;
  }
}
