.pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}
.appWrapper {
  width: 500px;
}
.singleItem {
  border: 1px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: auto;
  padding: 10px;
  height: 200px;
  margin-bottom: 5px;
  justify-content: space-around;
}
.barkod > svg {
  width: 100% !important;
}
.inputWrapper {
  border: 1px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  height: 100px;
}

.inputItemsContainer {
  display: flex;
  width: 100%;
  height: 40%;
  justify-content: space-around;
}
.left {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  width: 50%;
  text-align: center;
  color: white;
}
.loyaltyModal {
  opacity: 1 !important;
}
@media (min-width: 220px) and (max-width: 680px) {
  .appWrapper {
    width: 95%;
  }
  .left {
    flex-direction: column;
  }
}
