.App {
  position: relative;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 50px;
}
.cela-grupa {
  width: 300px;
  border: none;
}
.dropdown-wrapper {
  width: 300px;
  display: flex;
}
